<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>register form</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/static/css/register.html">
</head>
<body>
   
<div class="form-container">

   <form action="/register/" method="post" >
   <a href="/"><img src="/static/img/logos.jpg.png" alt="blocash" height="50px" width="50px" />
								</a>
      <h3><b>Blocash</b></h3>
      {% csrf_token %}
      <input type="text" name="username" required placeholder="Choose a username">
      <input type="text" name="fname" required placeholder="enter your first name">
      <input type="text" name="lname"  placeholder="enter your last name">
      <input type="email" name="email" required placeholder="enter your email">
      <input type="password" name="password1" required placeholder="enter your password">
      <input type="password" name="password2" required placeholder="confirm your password">
     
      <div class="field phone">

         <input type="text" name="phone" required placeholder="Phone Number" required id="id_phone" maxlength="13" />
         </div>
         
         <div class="field state">
            
         </div>
      <li >I understand the risks involved in trading stock, commodity, and currency
         markets.</li>
      <li>I understand the risks of my program not working as intended. I take full
         responsibility for any losses that may arise while trading programmatically.
      </li>
      <li>I have read the <a target='_blank' href='terms&condition.html'>Terms and
            Conditions</a> and accept it.</li>
         </label>
      I AGREE TO THE ABOVE TERMS:
<input type="checkbox" name="disclaimer" required id="id_disclaimer" />
</div>

      <input type="submit" name="submit" value="register now" class="form-btn">
      <p>already have an account? <a href="login_form.php">login now</a></p>




   </form>

</div>
{% if messages %}
<script>
  {% for message in messages %}
  alert('{{ message }}');
  {% endfor %}
</script>
{% endif %}
</body>
</html>